.container {
  display: inline-block;
  height: 210px;
  width: 200px;
  border-radius: 5px;
  margin-bottom: 50px;

  animation: skeleton-loading 0.5s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: lightgray;
  }
  100% {
    background-color: lightgray;
  }
}
