.container {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .container {
    margin: 50 20px;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    margin: 50 20px;
    grid-template-columns: 1fr;
  }
}
